.navigation {
  width: 400px;
  padding: 20px;
  background-color: black;
  color: white;
  opacity: 0.7;
}

.navigation-showalllink {
  text-decoration: underline !important;
}

.navigation-searchheader {
  margin-bottom: 10px;
}

.navigation-searchbar {
  border: none;
  border-radius: 12px;
  padding-left: 10px;
}

