<div class="navigation">
  <div class="trq-g">
      <div class="trq-u-1 trq-u-md-2-3">
          <input type="text" placeholder="Type to search" name="itemName" [(ngModel)]="NavigationItemName"
          (ngModelChange)="searchItems($event)">
        </div>
        <div class="trq-u-1 trq-u-md-1-3">
        <a (click)="showAllItems()">Show all</a>
        </div>
  </div>

<div *ngFor="let item of navigationItemsToDisplay">
  <li>{{item.name}}</li>
  <trq-icon *ngIf="item.isFavourite" [name]="iconName.STAR" [size]="iconSize.MD"></trq-icon>
</div>
</div>
