.header-image{
    width: 100%;
}

.my-paln-button{
    margin:2%;
    margin-left: 40%;
}

.todo-button{
    margin-left: 10%;
}

.profile-pic{
    position: absolute;
    top: 10%;
    right: 27%;
    height: 40px;
    width: 40px;
    border-radius: 50%;
    border: 3px solid #d1d7d9;
}

.profile-pic-action-header{
    position: relative;
    z-index: 1;
    height: 90px;
    width: 90px;
    border-radius: 50%;
    border: 3px solid #d1d7d9;
}

.header-div{
    position: relative;
}

.show-card-torque {
    box-shadow: 0 3px 1px -2px rgba(0,0,0,.2), 0 2px 2px 0 rgba(0,0,0,.14), 0 1px 5px 0 rgba(0,0,0,.12);
    max-height: 270px;
    overflow: auto;
    display: block;
    opacity: 1;
    font-size: small;
    padding: 10px;
    background-color: whitesmoke;
}


.hide-card{
    display: none;
}


/* [dir] [_nghost-c2]  */

.card {
    margin-top: 0px;
}

.action-header{
    display: flex;
    padding: .5%;
    align-items: center;
    justify-content: space-around;
}


.user-profile-span{
    position: relative;
    display: flex;
}

.user-profile-center{
    left: 68px;
    position: absolute;
    width: 102px;
    height: 75px;
    background-color: #f3f3f3;
    border-top: 3px solid #d1d7d9;
    border-bottom: 3px solid #d1d7d9;
    top: 7px;
}

.user-profile-curve{
    left: 170px;
    position: absolute;
    width: 75px;
    height: 75px;
    background-color: #f3f3f3;
    border-bottom-right-radius: 50%;
    border-top-right-radius: 50%;
    border-top: 3px solid #d1d7d9;
    border-bottom: 3px solid #d1d7d9;
    border-right: 3px solid #d1d7d9;
    top: 7px;
}

.profile-content{
    position: absolute;
    z-index: 1;
    left: 90px;
    top: 10px;
    width: 150px;
}

.profile-name{
    font-weight: bold;
}

.pq-rating{
    margin-left: 26%;
    margin-top: -3px;
    font-size: large;
    color: #13b9fb;
}

.sharing-icon{
    margin-left: 28%;
    margin-top: -3px;
}


.profile-img-container {
    position: relative;
}

.profile-img-container fa {
    position: absolute;
    top: 45%;  
    left: 45%;
    transform: translate(-45%, -45%);
    font-size: x-large;
    display: none;
}

.profile-img-container:hover img {
    opacity: 0.5;    
}

.profile-img-container:hover fa {
    display: block;
    z-index: 500;
}

.action-div{
    background-color: white;
}

.down-content{
    background-color: white;
    margin-top: 5px;
    padding: .5%;
}

.img-doughnut{
    margin-left: 2%;
}

/* .fab-icon{
    background-color:#8cc400;
    position:fixed;
    left:16px;
    bottom: 16px;
    box-shadow: 0 3px 5px -1px rgba(0,0,0,.2), 
    0 6px 10px 0 rgba(0,0,0,.14), 
    0 1px 18px 0 rgba(0,0,0,.12);
}

.material-style{
    box-sizing: border-box;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    cursor: pointer;
    outline: 0;
    border: none;
    -webkit-tap-highlight-color: transparent;
    display: inline-block;
    white-space: nowrap;
    text-decoration: none;
    vertical-align: baseline;
    text-align: center;
    margin: 0;
    min-width: 88px;
    line-height: 36px;
    padding: 0 16px;
    border-radius: 2px;
    overflow: visible;
    transform: translate3d(0,0,0);
    transition: background .4s cubic-bezier(.25,.8,.25,1),box-shadow 280ms cubic-bezier(.4,0,.2,1);
    min-width: 0;
    border-radius: 50%;
    width: 56px;
    height: 56px;
    padding: 0;
    flex-shrink: 0;
}

.fab-icon{
    font-size: x-large;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
} */

button:focus{
    outline: none;
}

.angular-fab-button{
    position: fixed;
    left: 16px;
    bottom: 16px;
    background-color: #8cc400;
    color: white;
    font-size: medium;
}

.popover-model-hide{
    display: none;
    width: 50px;

}

.popover-model-show{
    display: block;
    width: 400px;
    height: 600px;
    position: fixed;
    left: 16px;
    bottom: 16px;
   
    z-index: 999;
    background-color: black;
    opacity: 0.85;
    border-radius: 20px;
    /* -webkit-transition: width 1000ms cubic-bezier(0.200, 0.965, 0.000, 1.005);
  transition: width 1000ms cubic-bezier(0.200, 0.965, 0.000, 1.005); */

  transition: width 2s;
  transition-timing-function: cubic-bezier(0.1, 0.7, 1.0, 0.1);
}



/* mdl - popup */
.dark-overlay {
    position: fixed;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.3);
    z-index: 5;
    -webkit-transition: all 600ms cubic-bezier(0.200, 0.965, 0.000, 1.005);
    transition: all 600ms cubic-bezier(0.200, 0.965, 0.000, 1.005);
  }
  
  .fab {
    z-index: 5;
    cursor: pointer;
    border-radius: 50%;
    position: fixed;
    left: 16px;
    bottom: 16px;
    background-color: #8cc400;
    color: white;
    font-size: medium;
    height: 56px;
    width: 56px;
    box-shadow: 0 5px 5px rgba(126, 111, 111, 0.39);
    -webkit-transition: all 600ms cubic-bezier(0.200, 0.965, 0.000, 1.005);
    transition: all 600ms cubic-bezier(0.200, 0.965, 0.000, 1.005);
  }
  
  .fab-icon-button{
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .fab.active {
    cursor: default;
    background: #FFF;
    border-radius: .125em;
    width: 450px;
    height: 600px;
    box-shadow: 0 25px 35px 0 rgba(0, 0, 0, 0.35);
    /* top: 10%; */
    right: calc(50% - 250px);
  }
  
  
  .active .fab-icon {
    display: none;
  }
  
  .active .protect {
    background: none;
  }
  
  .cntt-wrapper {
    display: none;
  }
  
  .active .cntt-wrapper {
    display: block;
  }

  .active .active-fab-icon{
      display: none;
  }
  
  #fab-hdr {
    position: absolute;
    width: 100%;
    background: #8cc400;
  }
  
  #fab-hdr h3 {
    padding-left: 30px;
  }
  
  .cntt {
    padding: 100px 35px 0 35px;
    color: #757575;
  }
  
  .btn-wrapper {
    position: absolute;
    right: 0;
    bottom: 0;
    margin-bottom: 8px;
    padding: 6px 16px;
  }
  
  /* just presenation */
  /* .center{margin: 0 auto}
  .m-t-100{margin-top:100px}
  .box {
    height: 300px;
    padding: 100px;
  } */

  .option-list{
      display: none;
  }

  .active .option-list{
      display: block;
      color: black;
  }

  .active .option-list-div{
      margin-top: 50px;
      padding: 20px;
      max-height: 500px;
      overflow: auto;
    
  }

  .navigation-showalllink {
    text-decoration: underline !important;
  }
  
  .navigation-searchheader {
    margin: 10px;
  }
  
  .navigation-searchbar {
    border: none;
    border-radius: 12px;
    padding-left: 10px;
  }

  .img-div{
    display: flex;
    justify-content: center;
  }
  