<div>
  <div class="header-div">
    <img src="assets/saba_images/header.png" class="header-image">
    <img src="assets/saba_images/Sunil_Pic.jpg" class="profile-pic" trqId="default" [popper]="popper1Content"
      [popperDisableStyle]="true" [popperTrigger]="'hover'" [popperModifiers]="popperModifiers">

    <popper-content #popper1Content trqId="default-content">

      <div id="basic" class="show-card-torque">
        <img src="assets/saba_images/profile.png">
      </div>

    </popper-content>
  </div>
  <!-- <div class="fab-icon material-style">
    <fa name="fal fa-bars"></fa>
  </div> -->
  <!-- <button mat-fab class="angular-fab-button" (document:click)="closeFeatureModel($event)" (click)="showFeatureModel($event)">
    <fa name="fal fa-bars"></fa>
    <div id="model-div" [ngClass]="showModel === true ? 'popover-model-show' : 'popover-model-hide'"></div>
  </button> -->

  <div id="fab-div" #fabdiv class="fab fab-icon-button" (document:click)="closeFeatureModel($event)" (click)="showFabDiv($event); $event.stopPropagation();">
    <fa class="active-fab-icon" name="fal fa-bars"></fa>
    <div id="fab-hdr" class='cntt-wrapper'>
      <div class="trq-g navigation-searchheader">
        <div class="trq-u-1 trq-u-md-2-3">
          <trq-icon [name]="iconShape.SEARCH" [size]="iconSize.MD"></trq-icon>
          <fa name="fal fa-microphone"></fa>
          <input class="navigation-searchbar" type="text" #inputChoice placeholder="Type to search" name="itemName"
            [(ngModel)]="NavigationItemName" (ngModelChange)="searchItems($event)">
        </div>
        <div class="trq-u-1 trq-u-md-1-3">
          <a *ngIf="toggleShowAll" class="navigation-showalllink" (click)="showAllItems()">Show all</a>
          <a *ngIf="!toggleShowAll" class="navigation-showalllink" (click)="showAllItems()">Show favourites</a>
        </div>
      </div>
    </div>
    <div class="option-list-div">
      <div class="trq-g option-list" *ngFor="let item of navigationItemsToDisplay">
        <li style="list-style-type:none">
          <div class="trq-u-1 trq-u-md-11-12">
              <fa style="margin-right:10px;" [name]="item.iconName"></fa>
              <a >{{item.name}}</a>
          </div>
          <trq-icon class="trq-u-1 trq-u-md-1-12" *ngIf="item.isFavourite" [name]="iconShape.STAR" [size]="iconSize.MD"></trq-icon>
        </li>

      </div>
    </div>

  </div>

  <div class="action-div">
    <div class="action-header">
      <span class="user-profile-span">
        <div class="profile-img-container">
          <img src="assets/saba_images/Sunil_Pic.jpg" class="profile-pic-action-header">
          <fa name="fas fa-camera"></fa>
        </div>
        <div class="user-profile-center"></div>
        <div class="user-profile-curve"></div>
        <div class="profile-content">
          <div class="profile-name">
            Sunil Singh Rathore
          </div>
          <div class="pq-rating">
            PQ - 0
          </div>
          <div class="sharing-icon">
            <img src="assets/saba_images/share-profile.png">
          </div>
        </div>
      </span>
      <span>
        <img src="assets/saba_images/MyPlanButton.png" class="my-paln-button">
      </span>
      <span>
        <img src="assets/saba_images/todo.png" class="todo-button">
      </span>

    </div>
  </div>
  <div class="down-content">
    <div class="img-div">
      <img src="assets/saba_images/doughnut.png" class="img-doughnut">
    </div>
    <div class="img-div">
      <img src="assets/saba_images/courseDetail.png">
    </div>
    <div class="img-div">
      <img src="assets/saba_images/courseDetail2.png">
    </div>
    <div class="img-div">
      <img src="assets/saba_images/courseDetail2.png">
    </div>
    <div class="img-div">
      <img src="assets/saba_images/courseDetail2.png">
    </div>
    <div class="img-div">
      <img src="assets/saba_images/courseDetail2.png">
    </div>

  </div>

</div>
