<div class="down-content">
    <div class="img-div">
      <img src="assets/saba_images/doughnut.png" class="img-doughnut">
    </div>
    <div class="img-div">
      <img src="assets/saba_images/courseDetail.png">
    </div>
    <div class="img-div">
      <img src="assets/saba_images/courseDetail2.png">
    </div>
    <div class="img-div">
      <img src="assets/saba_images/courseDetail2.png">
    </div>
    <div class="img-div">
      <img src="assets/saba_images/courseDetail2.png">
    </div>
    <div class="img-div">
      <img src="assets/saba_images/courseDetail2.png">
    </div>
  </div>
